<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Red Pear</title>

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/basic.css" />
    <link rel="stylesheet" href="/project.css" />

    <script>
        const pageContext = {
            project: {{& project_blob}}
        }
    </script>
    <script src='/js/main.js'></script>
    <script src='/js/components/project-name.js'></script>
    <script src='/js/components/project-operations.js'></script>
</head>

<body>
    <section class="main">
        <h1 class="main-title">
            <a href='/'>Red Pear</a>::<project-name></project-name>
        </h1>

        <project-operations></project-operations>

        <p>Welcome {{user.email}} <a href='/log-out'>Log out</a></p>

        <section>
            <h3>Functions</h3>
            <table id='functions-index'>
                <tr>
                    <th>name</th>
                    <th>route</th>
                </tr>
                {{#functions}}
                <tr>
                    <td><a href="/function/{{id}}">{{name}}</a></td>
                    <td>{{route}}</td>
                </tr>
                {{/ functions}}
            </table>
            <form method='post' action='/function/new'>
                <input type="hidden" value="{{project.id}}" name="project_id" />
                <button type='submit'>New</button>
            </form>
        </section>

        <section>
            <h3>Views</h3>
            <table>
                <tr>
                    <th>name</th>
                    <th>type</th>
                </tr>
                {{#views}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{type}}</td>
                </tr>
                {{/ views}}
            </table>
            <form method='post' action='/views/new'><button type='submit'>New</button></form>
        </section>

        <section>
            <h3>Data</h3>

            <p class='nothing-msg'>Nothing yet!</p>
        </section>
    </section>
</body>

</html>
