<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Red Pear</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/basic.css" />
    <link rel="stylesheet" href="/project.css" />
    <script src='/js/react/index.js'></script>
</head>

<body>
    <section class="main spaced">
        <h1 class="main-title">
            Red Pear
        </h1>

        <p>Welcome {{user.email}} <a href='/log-out'>Log out</a></p>

        <project-list class='spaced'></project-list>
    </section>


    {{#flash}}
    <div id='flash'>
        {{flash}}
    </div>
    {{/flash}}
</body>

</html>
