<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>Apricot</title>

    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/minimal.css" />
    <link rel="stylesheet" href="/landing.css" />
</head>

<body>
    <section class="main">
        <h1 class="main-title">Apricot</h1>

        <p>Hi and welcome! Feel free to get started here:</p>

        <script>
            function showForm(id, clicked) {
                let forms = document.querySelectorAll('.log-in-forms form');
                for (const form of forms) {
                    if (form.id === id) {
                        form.style.display = 'block'
                    } else {
                        form.style.display = 'none'
                    }
                }
                let old = document.querySelector('.chosenTab');
                if (old) old.classList.remove('chosenTab');
                clicked.classList.add('chosenTab')
            }
        </script>

        <div class="log-in-forms">
            <h4 onclick="showForm('log-in', this)">Log In<h4 onclick="showForm('sign-up', this)">Sign Up</h4>
            </h4>

            <form id="log-in" method="POST" action="/log-in">
                <input name="email" placeholder='email' type="text" />
                <input name="password" placeholder='password' type="password" />
                <button type="submit">Log in</button>
            </form>

            <form id="sign-up" method="POST" action="/sign-up">
                <input name="email" placeholder='email' type="text" />
                <input name="password" placeholder='password' type="password" />
                <button type="submit">Sign up</button>
            </form>
        </div>

        <script>
            showForm('log-in', document.querySelector('.log-in-forms h4'))
        </script>
    </section>
</body>

</html>
