<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Red Pear</title>

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/basic.css" />
    <link rel="stylesheet" href="/project.css" />

    <script>
        /* This is broken. Load with something better than this.   */
        const pageContext = {}
        pageContext.project = {{& project_blob}}
        pageContext.functions = {{& functions_blob}}
        pageContext.templates = {{& templates_blob}}
        pageContext.domain = "{{domain}}"
    </script>
    <script src='/js/react/index.js'></script>
    <script src='/js/vanilla/main.js'></script>
    <script src='/js/vanilla/components/project-operations.js'></script>
    <script src='/js/react/index.js'></script>
</head>

<body>
    <section class="main spaced">
        <h1 class="main-title">
            <a href='/'>Red Pear</a>::<project-name></project-name>
        </h1>

        <project-ops></project-ops>

        <p>Welcome {{user.email}} <a href='/log-out'>Log out</a></p>


        <section class='functions-index'>
            <h3>Functions</h3>
            <functions-table></functions-table>
            <form method='post' action='/function/new'>
                <input type="hidden" value="{{project.id}}" name="project_id" />
                <button type='submit'>New</button>
            </form>
        </section>

        <div id='react-root'></div>

        <section class='template-index'>
            <h3>Templates</h3>
            <templates-table></templates-table>
            <form method='post' action='/template/new-html'>
                <input type="hidden" value="{{project.id}}" name="project_id" />
                <button type='submit'>New HTML</button>
            </form>
            <!-- <form method='post' action='/template/new-fancy'>
                <input type="hidden" value="{{project.id}}" name="project_id" />
                <button type='submit'>New Fancy</button>
            </form> -->
        </section>

        <section class='logs'>
            <h3 style="margin-bottom:20px">Logs</h3>

            <table class='small-first'>
                <tr>
                    <td>Prod:</td>
                    <td><a href='/project/{{project.id}}/prod/out'>stdout</a></td>
                    <td><a href='/project/{{project.id}}/prod/err'>stderr</a></td>
                </tr>
                <tr>
                    <td>Dev:</td>
                    <td><a href='/project/{{project.id}}/dev/out'>stdout</a></td>
                    <td><a href='/project/{{project.id}}/dev/err'>stderr</a></td>
                </tr>
            </table>
        </section>
        <!--
        <section>
            <h3>Data</h3>

            <p class='nothing-msg'>Nothing yet!</p>
        </section> -->
        <!-- Also do logs! -->
    </section>
</body>

</html>
