<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Red Pear</title>

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/basic.css" />
    <link rel="stylesheet" href="/editor.css" />
    <link rel='stylesheet' href='/template.css'>

    <script>
        const pageContext = {}
        pageContext.template = {{& template_blob}}
        pageContext.functions = {{& functions_blob}}
        pageContext.project = {{& project_blob}}

        async function saveSource(editorView) {
            await fetchPost('/template/edit', {
                source: editorView.state.doc.toString(),
                id: pageContext.template.id,
            })
        }
        window.dynamic = {saveSource}

        async function saveEditor() {
            const editor = document.getElementById('editor');
            await saveSource(editor.view)
        }

        document.addEventListener('keydown', e => {
            if ((e.ctrlKey || e.metaKey) && e.key === 's') {
                // Prevent the Save dialog to open
                e.preventDefault();
                saveEditor()
            }
        });
    </script>
    <script src="/js/vanilla/main.js"></script>
    <script src='/js/vanilla/components/template-operations.js'></script>

    <script>
        function init() {
            const editor = document.getElementById('editor');
            const view = instantiateEditor(editor, 'html');
            editor.view = view;

            setTimeout(removeFlash, 2000)
        }

        function removeFlash() {
            document.getElementById('flash')?.remove()
        }

        document.addEventListener('DOMContentLoaded', init)
    </script>
</head>

<body>
    <section class="main spaced">
        <h1 class="main-title">
            <a href='/'>Red Pear</a>::<a
                href='/project/{{project.id}}'>{{project.name}}</a>::<template-name></template-name>
        </h1>

        <template-operations></template-operations>

        <pre id='editor'>{{template.source}}</pre>
    </section>

    {{#flash}}
    <div id='flash'>
        {{flash}}
    </div>
    {{/flash}}
</body>

</html>
