@font-face {
  font-family: supply-sans;
  src: url("/fonts/supply-mono-variable.ttf") format("truetype-variations");
  font-weight: 1 999;
}

body {
  font-family: supply-sans, menlo;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

form,
.title {
  margin-bottom: 40px;
}

.refresh-button {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.component button {
  outline: none;
}

:root {
  --highlight: rgb(0, 0, 0);
  --selected-color: rgb(0, 0, 0);
}

.component.stack > .component {
  flex-grow: 2;
}

.component {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.component.hover {
  outline: 1px solid var(--highlight);
}

.component.text textarea {
  font-family: supply-sans, menlo;
  letter-spacing: normal;
  font-size: 16px;
  position: relative;
  top: 2px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: word-wrap;
  resize: none;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
}

.component.button {
  text-align: center;
}

.component.button button,
.component.button input {
  padding: 5px 10px;
  background-color: #e9e9ed;
  outline: none;
  border: 1px solid #8f8f9d;
  border-radius: 4px;
  font-family: supply-sans, menlo;
  font-weight: 400;
}

.component.stack.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.component.selected {
  outline: 1px solid var(--selected-color);
}

.component.selected:not(.big-border) {
  border-color: black !important;
}

.component.hovered:not(.big-border) {
  border-color: black !important;
}

.component.hovered.big-border {
  outline: 1px solid var(--highlight);
}

.component.hovered.no-border {
  outline: 1px solid var(--highlight);
}

.component.stack {
  position: relative;
}

.component.stack .label {
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0px 8px;
  font-family: supply-sans, menlo;
}

.component.stack.selected > .label {
  display: block;
}

.toplevel {
  width: 60%;
}

.component.text .tracking-span {
  position: fixed;
  left: -2000px;
  top: -2000px;
  font-family: -apple-system;
  font-size: 16px;
}

main {
  height: 70vh;
}

.properties {
  background-color: rgb(255, 237, 214);
  width: 100%;
  padding: 20px;
  border-top: 2px solid black;
  height: 30vh;
  z-index: 2;
}

.properties label input {
  margin-left: 10px;
}

.properties label {
  display: block;
}

.chooser {
  border: 2px solid black;
  background: white;
  max-width: 200px;
  border-radius: 3px;
  margin: 20px;
}

.chooser .lines > * {
  margin: 5px;
  padding: 5px;
}

.chooser input {
  border: 0;
  outline: 0;
  padding: 10px 10px;
  margin: 0px;
  width: calc(100% - 10px * 2);
  border-bottom: 2px solid black;
  font-family: supply-sans, menlo;
  font-size: 16px;
}

.chooser .line:nth-child(1) {
  background: rgb(255, 237, 214);
}

.vars {
  min-height: 1em;
}

.new-var {
  padding: 2px 5px;
  font-family: supply-sans, menlo;
  font-weight: 400;
}

.var {
  margin-top: 10px;
}

.var textarea {
  /* input style to match */
  border: 0;
  outline: 0;
  padding: 10px 10px;
  margin: 0px;
  width: calc(100% - 10px * 2);
  border-left: 2px solid black;
  margin-left: 20px;
  font-family: supply-sans, menlo;
  font-weight: 300;
  font-size: 16px;
  resize: none;
}

.var input {
  /*  match style */

  border: 0;
  outline: 0;
  /* border-bottom: 2px solid black; */
  font-family: supply-sans, menlo;
  font-weight: 300;
  font-size: 16px;
}
