.log-in-forms h4 {
    display: inline-block;
    cursor: pointer;
    margin-top: 4px;
    padding: 6px 8px;
    margin-bottom: 4px;
    border: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
    user-select:none;
    border-radius: 0px 4px 4px 0px;
    font-size: 14px;
}

.log-in-forms h4:first-child {
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}

.log-in-forms h4.chosenTab {
    background: #eee;
}

.log-in-forms h4:hover {
    background: #aeaeae;
}

.log-in-forms h4:active {
    background: #444;
}

.log-in-forms form {
    display: block;
}

input {
    display: block;
    font-size: 14px;
    padding: 4px 8px;
    margin-top: 4px;
}

.log-in-forms form button {
    margin-top: 6px;
    font-size: 14px;
}

.pear-img img {
    max-width: 300px;
    float: right;
}

body {
    padding-top: 13vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.pear-text > *:not(:first-child) {
    margin-top: 10px;
}

.main-title .emoji {
    color: transparent;
    text-shadow: 0px 0px 0px var(--accent);
    padding-left: 2px;
}

.main-title .emoji::selection {
    color: transparent !important;
    text-shadow: 0px 0px 0px black;
}

@media (max-width: 600px) {

    body {
        padding: 15px;
        padding-top: 10px;
    }

    .main {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .pear-img img {
        margin-top: 20px;
    }
}

@media (max-width: 330px) {

    .pear-img img {
        width: 100vw;
        position: absolute;
        z-index: -1;
        top: 315px;
        left: -15px;
    }
}
