project-name {
    position: relative;
}

project-name input, project-name .measure {
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    line-height: 1em !important;
    border: none;
    width: auto;
    display: inline-block;
    outline: none;
}

project-name button {
    position: absolute;
    right: -50px;
    top: -3px;
}

.project-index li {
    list-style: none;
    padding-bottom: 6px;
}

project-operations {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}

section:not(.main) > *:not(:first-child) {
    margin-top: 10px;
}

section:not(.main) {
    background: #f8f8f8;
    background: #f5f5f5;
    background: #fbfbfb;
    padding: 20px;
    margin-top: 26px;
    border-radius: 3px;
    outline: 1px solid black;
}

.main section .nothing-msg {
    margin-top: 25px;
}


.main section form button {
    position: relative;
    left: -1px;
}

.functions-index td {
    font-family: iosevka;
    font-size: 15px;
    position: relative;
}

.functions-index tr input {
    border: none;
    outline: none;
    font-family: iosevka;
    font-size: 16px;
    margin-left: 8px;
    background: transparent;
}

.functions-index tr input:focus + .close-button {
    opacity: 1;
}

.functions-index .delete-fn {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
}

.functions-index td:hover .delete-fn {
    opacity: 1;
}

.functions-index td:first-child {
    padding-right: 34px;
}


.route-editor .close-button {
    opacity: 0;
}

.route-editor:hover .close-button {
    opacity: 1;
}

.route-editor .method {
    text-transform: uppercase;
    display: inline-block;
    width: 4ch;
}

tr .add-route {
    opacity: 0;
}

table:not(.route-editor-focused) tr:hover .add-route  {
    opacity: 1;
}

.add-route:hover {
    opacity: 1;
}
