template-name {
    position: relative;
}

template-name input, template-name .measure {
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    line-height: 1em !important;
    border: none;
    width: auto;
    display: inline-block;
    outline: none;
}

template-name button {
    position: absolute;
    right: -50px;
    top: -3px;
}

template-operations {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}
